<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.livetvstrean">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!--this is deprecated permission-->
    <!--but this permission is required to allow receive push notification on android below Lollipop-->
    <uses-permission
        android:name="android.permission.GET_TASKS"
        android:maxSdkVersion="19" />

    <application
        android:name="com.app.livetvstrean.activities.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppMaterialTheme"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:resource="@xml/network_security_config"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.app.livetvstrean.activities.ActivitySplash"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.livetvstrean.activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.livetvstrean.activities.ActivityDetailChannel"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.app.livetvstrean.activities.ActivityOneSignalDetail"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.app.livetvstrean.activities.ActivityFCMDetail"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.app.livetvstrean.activities.ActivityDetailCategory"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.app.livetvstrean.activities.ActivitySearch"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.app.livetvstrean.activities.ActivityStreamPlayer"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.app.livetvstrean.activities.ActivityRtmpPlayer"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.app.livetvstrean.activities.ActivityYoutubePlayer"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.app.livetvstrean.activities.ActivityPrivacyPolicy"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <service android:name="com.app.livetvstrean.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.app.livetvstrean.fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.app.livetvstrean.utils.NotificationExtenderExample"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
        <!--<service android:name="MyTaskService"-->
            <!--android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>-->
            <!--</intent-filter>-->
        <!--</service>-->

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

    </application>

</manifest>